/* campo 
      220 
540 < 840  > 540
      580. 
      220| 
         |  1500 */

/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  color: rgb(16, 33, 51);
} */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lol-font";
  src: url(BeaufortforLOL-Bold.otf) format("opentype");
  /* font-weight: 400px;
  font-style: normal; */
}

body {
  font-family: "LoL-font", sans-serif;
  color: rgb(80, 122, 161);
}

.game-bg {
  width: 1920px;
  height: 1500px;
  background-image: url(img/arnea_mod.jpg);
}

.game-container {
  margin-left: 540px;
  margin-right: 540px;
  position: relative;
}

/* -- HEAD -- */
.head {
  height: 205px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(155, 180, 220, 0.5);
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
}

.lol-logo {
  width: 120px;
  height: 120px;
}
h1 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  margin: 0px;
}

.score-board {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.score-board > span {
  background-color: rgba(155, 180, 220, 0.6);
  border-radius: 10px;
  outline: 5px solid rgb(61, 143, 193, 0.5);
  outline-offset: -8px;
  padding: 5px 10px 5px 10px;
}
/* GAME GRID */
.game-grid {
  width: 840px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* CELLS */
.cell {
  width: 84px;
  height: 90px;
  background-color: rgba(171, 199, 198, 0.6);
  border: 1px solid rgb(96, 124, 136, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.black-cell {
  background-color: rgb(96, 124, 136, 0.6);
}

.white-cell {
  background-color: rgba(255, 255, 255, 0.574);
}
/* background-color: rgba(171, 199, 198, 0.6);
 */

.bomb {
  background-color: rgb(228, 124, 145, 0.8);
  background-image: url(img/zigg\ bomb.png);
  background-size: contain;
  background-repeat: no-repeat;
}

[class*="cell"]:hover,
.clicked {
  background-color: rgba(155, 180, 220, 0.9);
  outline: 5px solid rgb(61, 143, 193, 0.5);
  outline-offset: -10px;
}

[class*="cell"]:hover,
button:hover {
  cursor: pointer;
}

/* LOSE SCREEN */

[class$="screen"] {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 840px;
  height: 540px;
}

.lose-img {
  margin: 0px 100px 60px 100px;
}

.win-img {
  margin: 50px 100px;
}

.lose-screen {
  background-color: /* rgba(53, 16, 8, 0.6); */ rgb(213, 55, 87, 0.6);
}

.play-again-button {
  position: absolute;
  bottom: 40px;
  font-family: "LoL-font", sans-serif;
  color: rgb(16, 33, 51);
  font-size: 20px;
  padding: 10px;
  width: 33%;
  border-radius: 10px;
  background-color: rgb(208, 205, 224, 0.9);
  margin-left: 33%;
  outline: 3px solid rgb(61, 143, 193, 0.5);
  outline-offset: -9px;
}

.hidden {
  display: none;
}

.win-screen {
  background-color: rgba(111, 175, 159, 0.612);
}
